.header,
body {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
}

header,
.section-1 {
    background-color: #6889A5;
}

.nav-1__menu,
.nav-1__part-1 {
    font-size: 32px;
    line-height: 0.9;
}

.header__nav-2,
.section-1__content h1 {
    font-size: 13px;
    line-height: 1.5;
}

.section-1__content h2 {
    font-size: 48px;
    line-height: 1.2;
}

.section-1__content p {
    font-size: 16px;
    line-height: 1.2;
}

.section-2 h2,
.nav-1__part-2 {
    font-size: 24px;
    line-height: 1.1;
}

.section-2__content {
    font-size: 13px;
    line-height: 1.5;
}

.section-3 h3,
.section-4__btn,
.part-right__links {
    font-size: 16px;
    line-height: 1.2;
}

.price {
    font-size: 16px;
    line-height: 1.5;
}

.header__nav-2,
.section-1__content h1,
.section-2__content h2,
.price,
.section-4__content h2,
.section-4__content p,
.banner__content p {
    text-transform: uppercase;
}

.section-3,
.banner__content h2 {
    font-size: 36px;
    line-height: 1.16;
}

.section-4__content h2,
.section-4__content p,
.banner__content p {
    font-size: 13px;
    line-height: 1.16;
}


.section-4__checkbox p {
    font-size: 11px;
    line-height: 1.3;
}

.part-right__checkbox {
    font-size: 14px;
    line-height: 1.3;
}

.section-4__content,
.banner {
    letter-spacing: 1px;
}

header,
.section-1,
.section-3 {
    color: #EBECDC;
}

.nav-1__menu,
.banner {
    color: #FFFFFF;
}

.section-2,
.section-4,
.footer__navigation {
    color: #2D1E1E;
}

.section-4 {
    background-color: #EBECDC;
}

.container-fluid {
    max-width: 1168px;
    margin: 0 auto;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.header__wrapper {
    padding: 15px 15px 21px;
}

.header__content {
    border-top: 2px solid #D9D9D9;
    padding-top: 13px;
}

/* header start */
.header__content,
.header__nav-1,
.header__nav-2,
.nav-1__menu,
.nav-2__left-part,
.nav-2__right-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-1__menu,
.nav-2__left-part {
    gap: 16px;
}

.header__nav-2 {
    gap: 36px;
    padding-left: 15px;
}

.nav-2__right-part {
    gap: 35px;
}

.nav-2__right-part select {
    width: 100px;
}

.nav-2__right-part select {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    background-color: inherit;
    border: none;
}

.nav-1__menu {
    padding: 0 15px;
}

.header {
    position: sticky;
    top: 0px;
}

.header__burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}

.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #EBECDC;
    position: absolute;
    left: 0;

}

.burger__line-first {
    top: 0;
}

.burger__line-second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line-third {
    bottom: 0;
}

/* header end */


/* section-1 start */

.section-1__wrapper {
    display: flex;
    justify-content: space-between;
}

.section-1__content {
    max-width: 395px;
    padding-top: 63px;
    margin: 0 auto;
}

.section-1__content h1 {
    padding: 0 15px 18px;
}

.section-1__content h2 {
    padding: 0 15px 30px;
}

.section-1__content p {
    padding: 0 15px 10px;
}

.section-1-img {
    padding-bottom: 63px;
}

/* section-1 end */

/* section-2 start */

.section-2 h2 {
    padding: 28px 0 30px 115px;
}

.section-2__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    justify-items: center;
    border-bottom: 2px solid #2D1E1E;
    margin-bottom: 15px;
    padding: 0 10px;
}

.section-2__card-1 {
    grid-column: 1 / 2;
}

.section-2__card-2 {
    grid-column: 2 / 3;
}

.section-2__card-3 {
    grid-column: 3 / 4;
}

.section-2__card-4 {
    grid-column: 4 / 5;
}


.card__information {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card__name {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.card__size {
    display: flex;
    gap: 6px;
    padding-bottom: 9px;
}

/* section-2 end */

/* section-3 start */

.section-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section-3__part-left {
    background-image: url(../assets/images/section-3-img-1.jpg);
    grid-column: 1 / 2;
}

.section-3__part-right {
    background-image: url(../assets/images/section-3-img-2.jpg);
    grid-column: 2 / 3;
    background-repeat: no-repeat;
}

.section-3__part-right,
.section-3__part-left {
    background-repeat: no-repeat;
    background-size: cover;
}

.section-3__part-left,
.section-3__part-right {
    padding: 377px 0 379px 0;
    text-align: center;
}

/* section-3 end */

/* section-4 start */

.section-4__content {
    text-align: center;
}

.section-4__content h2 {
    padding-top: 64px;
}

.section-4__content p {
    padding-bottom: 50px;
}

.section-4__email {
    padding-bottom: 19px;
}

.section-4__checkbox {
    padding-bottom: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.section-4__checkbox p {
    padding-bottom: 0px;
}

.section-4__btn,
.section-4__email input {
    background-color: inherit;
}

.section-4__btn,
.section-4__email input {
    border: none;
}

.section-4__email input {
    border-bottom: 1px solid #2D1E1E;
}

.section-4__btn {
    margin-left: 40px;
}

/* section-4 end */

/* footer start */
.banner {
    background-image: url(../assets/images/footer-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner__content {
    padding-top: 64px;
    padding-bottom: 87px;
    max-width: 360px;
    grid-column: 8 / 14;
}

.banner__content h2 {
    padding-bottom: 51px;
}

.banner__content p {
    padding-bottom: 109px;
}

.banner__links p {
    padding-bottom: 23px;
}

.banner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.footer__navigation {
    padding: 30px 15px;
}

.footer__navigation,
.footer__part-left,
.footer__part-right,
.part-right__checkbox {
    display: flex;
}

.footer__nav-1,
.nav-1__part-1,
.nav-1__part-2,
.part-right__links,
.part-right__links-part-1,
.part-right__form {
    display: flex;
    flex-direction: column;
}

.footer__part-left {
    align-items: start;
}

.part-right__checkbox {
    align-items: center;
}

.footer__navigation {
    gap: 141px;
}

.footer__part-left {
    gap: 115px;
}

.footer__part-right {
    gap: 37px;
}

.footer__nav-1 {
    gap: 41px;
}

.nav-1__part-1 {
    gap: 7px;
}

.nav-1__part-2 {
    gap: 10px;
}

.part-right__links {
    gap: 30px;
}

.part-right__links-part-1 {
    gap: 7px;
}

.part-right__form {
    justify-content: space-between;
}

.footer__nav-1,
.part-right__links,
.part-right__form {
    padding: 0 15px;
}

/* footer end */


@media (max-width: 1024px) {
    .header__burger {
        display: block;
    }

    .header__nav-2,
    .header__nav-1 {
        display: none;
    }

    .section-1__wrapper {
        flex-direction: column-reverse;
    }

    .section-1-img {
        width: 100%;
    }

    .section-1-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section-1__content {
        max-width: 100%;
        padding: 0 0 60px;
    }

    .section-1__content h1 {
        font-size: 11px;
    }

    .section-1__content h2 {
        font-size: 44px;
    }

    .section-1__content p {
        font-size: 15px;
    }

    .section-2__content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .section-2__card-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .section-2__card-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .section-2__card-3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .section-2__card-4 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .section-2__content div {
        width: 100%;
    }

    .section-2__content img {
        width: 100%;
    }

    .section-2 h2 {
        font-size: 22px;
    }

    .section-3 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .section-3__part-left {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .section-3__part-right {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .footer__navigation {
        flex-direction: column;
    }

    .footer__part-left,
    .footer__part-right {
        gap: 10px;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .section-1__content h2 {
        font-size: 40px;
    }

    .section-1__content p {
        font-size: 13px;
    }

    .section-2 h2,
    .nav-1__part-2 {
        font-size: 20px;
    }

    .section-2__content {
        font-size: 11px;
    }

    .section-3 h3,
    .section-4__btn,
    .part-right__links {
        font-size: 13px;
    }

    .price {
        font-size: 13px;
    }


    .section-3,
    .banner__content h2 {
        font-size: 30px;
    }

    .section-4__content h2,
    .section-4__content p,
    .banner__content p {
        font-size: 10px;
    }


    .section-4__checkbox p {
        font-size: 9px;
    }

    .part-right__checkbox {
        font-size: 11px;
    }

    .footer__part-left img,
    .header__content img {
        width: 9rem;
    }


}